::ng-deep .LyTabs-labelsContainer-z.c--primary___4____true-ch {
    box-shadow: none;
}

#titular {
  flex-direction: row;
  align-items: center;
  display: flex;
  padding-left: 2em;
}

.transparent {
  background: transparent;
  box-shadow: none;
}

.drawerContent {
  padding-left: 2em;
  padding-right: 2em;
}

::ng-deep .transparent .LyTabs-labelsContainer-z.c--primary___4____true-ch {
  background: transparent;
  box-shadow: none;
}

.fontText {
  font-size: calc(16px + 6 * ((100vw - 320px) / 680));
}
