mgl-map {
  height: 40vh;
  width: 100%;
}

#expansion-info {
  padding-top: 2em;
}

.home-btn {
  width: 29px;
  height: 29px;
  display: block;
  padding: 0;
  outline: none;
  border: 0;
  box-sizing: border-box;
  background-color: white;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 0 0 2px rgba(0,0,0,.1);
  float: left;
}

[aria-label] {
  position: relative;
}
    
[aria-label]:after {
  content: attr(aria-label);
  display: none;
  position: absolute;
  top: 110%;
  left: 40px;
  z-index: 5000;
  pointer-events: none;
  padding: 8px 10px;
  line-height: 15px;
  white-space: nowrap;
  text-decoration: none;
  text-indent: 0;
  overflow: visible;
  font-size: .9em;
  font-weight: normal;
  background-color: white;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
    
[aria-label]:hover:after, [aria-label]:focus:after {
    display: block;
}