<ly-grid container spacing="16 8@XSmall">

  <ly-grid item col="6 12@XSmall@Small">
    <ly-carousel [withClass]="classes.carousel" [touch]="true">
      <ly-carousel-item
        *ngFor="let item of items"
        [withClass]="classes.carouselItem"
        [srcImg]="item.img"
      >
        <h1>{{ item.title }}</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </ly-carousel-item>
    </ly-carousel>
  </ly-grid>

  <ly-grid item col="3 6@XSmall@Small" [className]="classes.gridItem">
      <app-paper [title]="'Domek'" [content]="'pensjonat wypoczynkowy mieszczący się w Krynicy Zdrój'"></app-paper>
  </ly-grid>

  <ly-grid item col="3 6@XSmall@Small" [className]="classes.gridItem">
      <app-paper [title]="'Kryniczanka'" [content]="'mała rzeczka przez którą nie da się przejechać'"></app-paper>
  </ly-grid>
</ly-grid>
<app-paper *ngFor="let item of articles"></app-paper>
